# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

Data SemRush/Visited domains_Andesmar vs concentradoras_Total Audience Of andesmar.com_plataforma10.com.ar_centraldepasajes.com.ar_busplus.com.ar_busbud.com_Dec 2025_Argentina_All devices.csv
